{% include 'dashboard.html'%}

{% block content %}
<div class="page-wrapper">
     <div class="content container-fluid">
   <div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form method="post" action="{% url 'update_student' %}" enctype="multipart/form-data">
{% csrf_token %}
<div class="col-12">
<h5 class="form-title"><span>Edit Teacher</span></h5>
 {% include 'include/messages.html'%}
</div>

<div class="form-group">
<label>Profile Picture</label>
<input type="file" class="form-control" name = "profile_pic" >
    <input type="file" class="form-control" name = "student_id" value="{% for i in teacher%}{% endfor %}" hidden>

</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>First Name</label>
<input type="text" class="form-control" name="first_name"  value="{% for i in teacher%}{{i.admin.first_name}}{% endfor %}" > <!-- //value="{{user.first_name}}">-->
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Last Name</label>
<input type="text" class="form-control" name="last_name"  value="{% for i in teacher%}{{i.admin.last_name}}{% endfor %}" >
</div>
</div>
    <div class="col-12 col-sm-6">
<div class="form-group">
<label>Email</label>
<input type="text" class="form-control" name="email"  value="{% for i in teacher%}{{i.admin.email}}{% endfor %}" >
</div>
</div>
    <div class="col-12 col-sm-6">
<div class="form-group">
<label>User Name</label>
<input type="text" class="form-control" name="username"  value="{% for i in teacher%}{{i.admin.username}}{% endfor %}">
</div>
</div>
    <div class="col-12 col-sm-6">
<div class="form-group">
<label>Password</label>
<input type="password" class="form-control" name="password" placeholder="Fill only if you want to change password" >
</div>
</div>
    <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Gender</label>
                                       <select class="form-control" name="gender" >
                                          <option>Select Gender</option>
                                          <option value="Female">Female</option>
                                          <option value="Male">Male</option>
                                          <option value=" Others">Others</option>
                                       </select>
                                    </div>
                                 </div>

     <div class="col-12 col-sm-6">
     <div class="col-12 col-sm-6">
        <div class="form-group">
        <label>Address</label>
        <textarea class="form-control" name="address">{% for i in teacher%}{{i.address}}{% endfor %}</textarea>
        </div>
        </div>



        <div class="col-12">
        <button type="submit" class="btn btn-primary">EDIT TEACHER</button>
        </div>


</form>
</div>
</div>
</div>
</div>
    </div>
</div>
</div>

{% endblock %}